:root {
	--main-color: #b1663c;
	--main-color-text: #3d3d3d;
	--second-color: #1d6154;
	--background-color: #fffef8;
}

header {
	margin-bottom: 150px;
}

#bold-login {
	font-weight: 700;
}

#logIn {
	width: 50%;
	margin: auto;
}

#logIn h2,
#password-lost {
	text-align: center;
}

#logIn input[type='submit'] {
	margin: 2em auto;
}

#footer-logIn {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 1140px;
}

#password-lost {
	display: block;
	color: var(--main-color-text);
	text-decoration: underline;
}

/*!  SI UTILISATEUR CONNECTÉ !*/

.edit-mode {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	gap: 7px;
	color: white;
	background-color: black;
}

#portfolio .user-connected-h2 {
	margin: 0;
}

#user-modifications {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	margin-bottom: 2.5em;
}

#sub-user-modifications {
	display: flex;
	align-items: center;
	gap: 7px;
	color: black;
}

#error-message-mail,
#error-message-password {
	display: block;
	height: 14px;
	text-align: center;
	font-weight: bold;
	margin-top: 8px;
	color: black;
}

@media screen and (max-width: 600px) {
	#logIn {
		width: 75%;
	}
}
@media screen and (max-width: 320px) {
	#logIn {
		width: 100%;
	}
}
