:root {
	--main-color: #b1663c;
	--main-color-text: #3d3d3d;
	--second-color: #1d6154;
	--background-color: #fffef8;
}

#modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
	max-width: calc(100vw - 30%);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

.modal-wrapper .iconsXMarkArrowReturn {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
}

.fa-arrow-left,
.fa-xmark {
	cursor: pointer;
	font-size: 20px;
	color: black;
}
.fa-arrow-left {
	visibility: hidden;
}

.modal-wrapper h2 {
	text-align: center;
	font-family: 'Work Sans';
	font-size: 1.7rem;
	font-weight: 400;
	color: black;
	margin-bottom: 100px;
}

#modal-gallery {
	width: 75%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 15px;
	margin-bottom: 40px;
	overflow: scroll;
}

#modal-gallery figure {
	position: relative;
}

#modal-gallery img {
	width: 100%;
}

#modal-gallery .trash-icon {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	border-radius: 6px;
	top: 7px;
	right: 7px;
	width: 17px;
	height: 17px;
}

#modal-gallery .fa-trash-can {
	color: white;
	cursor: pointer;
	font-size: 80%;
}

.modal-wrapper hr {
	border: 1px solid var(--main-color-text);
	width: 75%;
	padding-left: 50px;
	margin: 0 0 35px 0;
}
/* Modification de la marge du btn  */
.modal-wrapper .button {
	width: 45%;
	height: 35px;
	margin: 0 0 40px 0;
	font-size: 0.7rem;
}

@media screen and (min-width: 1140px) {
	.modal-wrapper {
		max-width: 1140px;
	}
	#modal-gallery .trash-icon {
		width: 30px;
		height: 30px;
	}
	#modal-gallery .fa-trash-can {
		font-size: 100%;
	}
}

@media screen and (max-width: 750px) {
	#modal-gallery {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.modal-wrapper h2 {
		font-size: 1.4rem;
	}
	.fa-arrow-left,
	.fa-xmark {
		font-size: 15px;
	}
}

@media screen and (max-width: 550px) {
	#modal-gallery {
		grid-template-columns: 1fr 1fr 1fr;
		max-height: calc(28vh);
	}
	.fa-arrow-left,
	.fa-xmark {
		font-size: 12px;
	}
}

@media screen and (max-width: 350px) {
	#modal-gallery {
		grid-template-columns: 1fr 1fr;
		max-height: calc(24vh);
	}
	.fa-arrow-left,
	.fa-xmark {
		font-size: 10px;
	}
	.modal-wrapper .button {
		width: 70%;
		height: 50px;
	}
}
