:root {
	--main-color: #b1663c;
	--main-color-text: #3d3d3d;
	--second-color: #1d6154;
	--background-color: #fffef8;
}
/* Régles CSS générales pour la modale */
#modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
	max-width: 45vw;
	width: 100%;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

/* Régles CSS des icones croix et flèches retour */
.modal-wrapper .iconsXMarkArrowReturn {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
}

.fa-arrow-left,
.fa-xmark {
	cursor: pointer;
	font-size: 20px;
	color: black;
}
.fa-arrow-left {
	visibility: hidden;
}
/* Affichage de la flèche retour arrière lors de l'ajout de la classe show */
#modal .show {
	visibility: visible;
}

.modal-wrapper h2 {
	text-align: center;
	font-family: 'Work Sans';
	font-size: 1.7rem;
	font-weight: 400;
	color: black;
	margin-bottom: 100px;
	padding: 0 10px;
}

/* Régles CSS de la galerie */
#modal-gallery {
	width: 75%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 15px;
	margin-bottom: 40px;
	overflow: scroll;
}

#modal-gallery figure {
	position: relative;
}

#modal-gallery img {
	width: 100%;
}

/* Règles CSS pour l'icone poubelle  */
#modal-gallery .trash-icon {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	border-radius: 6px;
	top: 7px;
	right: 7px;
	width: 17px;
	height: 17px;
}

#modal-gallery .fa-trash-can {
	color: white;
	cursor: pointer;
	font-size: 80%;
}

/* Règles CSS pour le hr */
.modal-wrapper hr {
	border: 1px solid var(--main-color-text);
	width: 75%;
	padding-left: 50px;
	margin: 0 0 35px 0;
}

/* Modification de la marge du btn  */
.modal-wrapper .button {
	width: 45%;
	height: 35px;
	margin: 0 0 40px 0;
	font-size: 0.7rem;
}

/* Règles CSS pour le formulaire de la modale ajouter un projet */

#modal-form {
	margin: 0 0 30px 0;
	width: 75%;
}

.containeur-input-files {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20vh;
	background-color: #e8f1f6;
	border: none;
}

.containeur-label-input {
	width: 100%;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
}

.fa-image {
	font-size: 45px;
	color: #b9c5cc;
}

.label-input-file {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	cursor: pointer;
	gap: 8px;
}

.span-input-file-text {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 30px;
	font-size: 0.9rem;
	color: #306685;
	background-color: #cbd6dc;
	border-radius: 50px;
}

.span-input-file-size {
	font-size: 0.6rem;
	color: #444444;
}

#input-file {
	display: none;
}

#preview-image {
	display: none;
	height: 100%;
	object-fit: cover;
}

/* Régles CSS message d'erreur du fichier dans l'InputFile */

#error-message-files {
	display: block;
	font-size: 0.7rem;
	height: 14px;
	text-align: center;
	font-weight: bold;
	margin-top: 8px;
	color: black;
}

/* Règles CSS Input label title */

#modal-form #title {
	color: #444444;
	padding-left: 25px;
}

/* Régles CSS Select */

.custom-select {
	position: relative;
	display: inline-block;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
}

.selected-option {
	display: block;
	position: absolute;
	color: #444444;
	height: 53px;
	z-index: 2;
	background-color: white;
	padding-left: 25px;
	width: 100%;
	line-height: 53px;
}

.options {
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: none;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 1;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.options li {
	display: flex;
	align-items: center;
	padding: 25px;
	height: 50px;
	cursor: pointer;
}

.options li:hover {
	background-color: #f2f2f2;
}

.selected-option .fa-chevron-down {
	position: absolute;
	top: 20px;
	right: 25px;
}
.selected-option .fa-bars {
	position: absolute;
	top: 20px;
	right: 25px;
}

.form-style #select-field {
	visibility: hidden;
}

/* Régle CSS pour désactiver le bouton Valider */

.modal-wrapper .button:disabled {
	background-color: #a7a7a7;
}

.button:disabled:hover {
	cursor: pointer;
	box-shadow: none;
}
.button:disabled:active {
	opacity: 1;
}

/* Règles CSS pour la snackBarre (suppression et ajout d'un projet) */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: white; /* Black background color */
	color: var(--main-color-text); /* White text color */
	text-align: center; /* Centered text */
	border-radius: 10px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

/* Régles CSS pour les différentes dimensions d'écran  ***MédiasQuerry***  */

@media screen and (min-width: 1140px) {
	.modal-wrapper h2 {
		font-size: 2rem;
	}
	#modal-gallery .trash-icon {
		width: 30px;
		height: 30px;
	}
	#modal-gallery .fa-trash-can {
		font-size: 100%;
	}
}

@media screen and (max-width: 750px) {
	#modal-gallery {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.modal-wrapper h2 {
		font-size: 1.4rem;
	}
	.fa-arrow-left,
	.fa-xmark {
		font-size: 15px;
	}
}

@media screen and (max-width: 550px) {
	.modal-wrapper {
		max-width: 65vw;
	}
	#modal-gallery {
		grid-template-columns: 1fr 1fr 1fr;
		max-height: calc(28vh);
	}
	.fa-arrow-left,
	.fa-xmark {
		font-size: 12px;
	}
}

@media screen and (max-width: 350px) {
	.modal-wrapper {
		max-width: 85vw;
	}
	#modal-gallery {
		grid-template-columns: 1fr 1fr;
		max-height: calc(24vh);
	}
	.fa-arrow-left,
	.fa-xmark {
		font-size: 10px;
	}
	.modal-wrapper .button {
		width: 70%;
		height: 50px;
	}
}
