/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

:root {
	--main-color: #b1663c;
	--main-color-text: #3d3d3d;
	--second-color: #1d6154;
	--background-color: #fffef8;
}

body {
	color: var(--main-color-text);
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: var(--background-color);
}

header,
main {
	padding: 0 50px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--main-color);
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--second-color);
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	color: black;
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: var(--main-color);
}

nav .fa-brands {
	font-size: 1.5em;
}

#introduction {
	display: flex;
	align-items: center;
	margin: 125px 0;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: center;
	margin-bottom: 2.5em;
}

.filters button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--second-color);
	font-family: 'Syne';
	font-size: 1.2em;
	font-weight: 700;
	background-color: transparent;
	border: 1px solid;
	border-radius: 60px;
	height: 37px;
}

button[name='Tous'],
button[name='Objets'] {
	width: 100px;
}

button[name='Appartements'] {
	width: 157px;
}
button[name='HotelsEtRestaurants'] {
	width: 205px;
}

.filters button:hover {
	background-color: var(--second-color);
	color: var(--background-color);
}

.filters button:active {
	opacity: 0.5;
}

.filters button:focus {
	background-color: var(--second-color);
	color: var(--background-color);
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	margin-bottom: 9px;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact h2,
#contact p {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

.form-style {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.input-style {
	height: 50px;
	font-family: 'Work Sans';
	font-size: 1em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.label-style {
	margin: 2em 0 1em 0;
}

#contact textarea {
	height: auto;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.button {
	height: 50px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto 3em auto;
	padding: 0 15px;
	/* width: 180px; */
	border: none;
	border-radius: 60px;
}

.button:hover {
	cursor: pointer;
	background-color: #0e2f28;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.button:active {
	opacity: 0.9;
}

footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 60px;
	background-color: white;
}

footer nav {
	margin-right: 50px;
}

/*! Responsive !*/

@media screen and (max-width: 600px) {
	#contact {
		width: 75%;
	}
}

@media screen and (max-width: 500px) {
	header {
		flex-direction: column;
		align-items: center;
	}

	header,
	main {
		padding: 0 10px;
	}
	#introduction {
		flex-direction: column;
		gap: 30px;
	}

	#introduction article {
		text-align: center;
	}

	.gallery {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 320px) {
	header {
		text-align: center;
	}

	nav ul {
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 20px;
	}

	#contact {
		width: 100%;
	}

	footer {
		justify-content: center;
	}
	footer nav {
		margin: 0;
	}
}
